.App {
  text-align: center;
  margin: 2%;
}

.link {
  padding: 4%;
}

.login {
  width: 80%;
  margin: 2% auto;
  padding-bottom: 3%;
  height: 90vh;
  background-color: #e6f7ff;
  border: 3px double black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

label {
  font-size: 1.8rem;
  margin: 1%;
}

input {
  font-size: 1.8rem;
  text-align: center;
  background-color: white;
  margin: 2%;
  border-radius: 30px;
}

button {
  width: 30%;
  margin: 1% auto;
  font-size: 1.5rem;
  border-radius: 30px;
  background-color: white;
}

.editBTN {
  width: 60%;
  font-size: 3rem;
}

.deactivateBTN {
  width: 15%;
  font-size: 0.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

.values, .reflection {
  width: 72%;
  margin: 2% auto;
  padding: 4%;
  padding-bottom: 3%;
  background-color: #e6f7ff;
  border: 3px double black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reflection input {
  width: 80%;
  height: 150px;
  font-size: 1.2rem;
}

.values label {
  font-size: 1.2rem;
}

.labelsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1;
}